<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368265543570-feminpbj3424c27fk3rfo53b7aoepcg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368265543570-feminpbj3424c27fk3rfo53b7aoepcg1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368265543570-diml4u32lbualbm75l9abpja6rjsia5q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHrQ6n5YjSyZ_o554WCZ7glV6F8cc4RIk</string>
	<key>GCM_SENDER_ID</key>
	<string>368265543570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shpark.openChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>sh-chat-bdb7f</string>
	<key>STORAGE_BUCKET</key>
	<string>sh-chat-bdb7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368265543570:ios:152b4b775b8e9b38ac4b4b</string>
</dict>
</plist>